# DB
LOCAL_DB_URI=mongodb://localhost:27017/7oMoonCRM
LIVE_DB_URI=

# PORT
PORT=3000

# JWT
JWT_SECRET=TVZOSHFJYLHAPCLZ
JWT_EXPIRY=1d

# ADMIN
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# BACKEND BASE URL
BASE_URL=http://localhost:3000